{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block body %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.about{
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}
</style>
<div class="about">
  <center>
    <img src="https://media.istockphoto.com/vectors/blue-typography-banner-vector-id1211513704?k=6&m=1211513704&s=612x612&w=0&h=FvNuCNGKpyOCMMUdgiQ-hf8n77m7iGKAFcULPPz1F-o=" title="about us" width="50%">
    <br><br>
    <b><p>This is a project and programming based website made by Maahierr</p>
    <p>All downloadable files are safe and doesn't include any Malware or Adware</p></b>
    <br><br>
    <a href=""><img src="https://img.icons8.com/material-outlined/24/000000/instagram-new--v2.png"/></a>&nbsp;&nbsp;<a href=""><img src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v2.png"/></a>&nbsp;&nbsp;<a href=""><img src="https://img.icons8.com/ios-glyphs/30/000000/facebook-circled--v2.png"/></a>
  </center>
</div>
<br><br><br><br><br><br>
{% endblock body %}