{% extends 'base.html' %} {% block title %}Projects{% endblock title %} {% block body %}
<style>
	.container {
		padding: 25px;
    background: black;
    color: white;
	}
</style>
<center>
		<h3>PROJECTS AND SOURCE CODE</h3>
	</center><br><br><br>
<div class="container">
  <a href="https://maahierr.github.io/Calculator/" target="_blank"><img src="static/calculator.png" width="50%" height="50%" title="QR CODE SCANNER"></a>&nbsp;&nbsp;&nbsp;&nbsp; CLICK ON THE IMAGE TO OPEN &nbsp;&nbsp;&nbsp;&nbsp<b>(WEB)</b><br> QR CODE SCANNER👆👆<br><br>  

<a href="static/QR_CODE_SCANNER.apk"><img src="https://img.gadgethacks.com/img/34/29/63657656370996/0/13-qr-code-scanners-wont-send-you-malicious-webpages-your-iphone.1280x600.jpg" width="50%" height="50%" title="QR CODE SCANNER"></a>&nbsp;&nbsp;&nbsp;&nbsp; CLICK ON THE IMAGE TO DOWNLOAD &nbsp;&nbsp;&nbsp;&nbsp<b>(MOBILE)</b><br> QR CODE SCANNER👆👆<br><br>
<a href="static/STEPS.apk"><img src="https://www.netclipart.com/pp/m/19-193161_footprints-png.png" width="50%" height="25%" title="STEP TRACKER"></a>&nbsp;&nbsp;&nbsp;&nbsp; CLICK ON THE IMAGE TO DOWNLOAD &nbsp;&nbsp;&nbsp;&nbsp<b>(MOBILE)</b><br>STEP TRACKER👆👆<br><br>
<a href="static/SNAKE GAME.zip"><img src="https://i.ytimg.com/vi/ofEfimSRpX0/maxresdefault.jpg" width="50%" height="50%" title="STEP TRACKER"></a>&nbsp;&nbsp;&nbsp;&nbsp; CLICK ON THE IMAGE TO DOWNLOAD SOURCE CODE &nbsp;&nbsp;&nbsp;&nbsp<b>(PYTHON)</b><br>SNAKE GAME👆👆<br><br>
</div>
<br><br><br>
<center>
<h2>More Projects are in Process</h2><br><br>
</center>
<div class="d-flex justify-content-center">
  <div class="spinner-border text-danger" role="status">
  <span class="visually-hidden">Loading...</span>
</div><br><br>
</div>
{% endblock body %}