{% extends 'base.html' %}
{% block title %}Signup{% endblock title %}
<style>
.btn{
cursor: url("/static/ppint.png"), url("/static/point.cur"), default;
background: rgb(81, 177, 255);
border: 3px solid white;
width: 100px;
padding: 8px;
border-radius: 10px;
color: white;
font-family: 'Patrick Hand', cursive;
}

.btn:hover{
    background: rgb(96, 96, 255);
    box-shadow: 5px 5px 5px rgb(96, 96, 255);
a{
    cursor: url("/static/point.png"), url("/static/point.cur"), default;
  }
</style>
{% block body %}
<div class="container mb-3 py-4" id="contact">
<h1 class="text-center">Signup</h1>
<form method="post" action="/signup">
{% csrf_token %}
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your Username"><br>
        {{status}}
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email Address"><br>
    </div>
    
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter Your Password"><br>
    </div>
    <br>
    Have an Account?? <a href="/login">Login</a>
    <br><br>
    <a><input class="btn" type="submit" value="Submit"></a>
</form>
</div>


{% endblock %}